# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data + big files (DO NOT COMMIT)
data/raw/
data/interim/
data/processed/
*.zip
*.gdb/
*.gdb/**
*.parquet
*.feather

# Outputs (generated)
outputs/runs/
outputs/latest/
outputs/logs/
